[Desktop Entry]
Type=Application
Name=LiqLiquid
Comment=A third-party Bilibili Client developed in Flutter
Comment[zh_CN]=浣跨敤 Flutter 寮€鍙戠殑 BiliBili 绗笁鏂瑰鎴风
Exec=LiqLiquid
Icon=LiqLiquid
Terminal=false
StartupWMClass=com.example.LiqLiquid
Categories=Video;AudioVideo;Player;

